  
// div:has(~ .products-sec) { display: none; }

// [data-video-urls] video { display: none; }

.navbar__dd__list
  // transition all 300ms !important

[slide-cut] .w-dyn-item, [static-cut]>div>div>div
  display flex !important
  flex-basis unset !important


.splide__list.w-dyn-items
  justify-content start
  grid-row-gap unset
  grid-column-gap unset

.tests__slider
  .splide__track
    overflow visible !important
    
.product-details__thumb-slider 
  .splide__slide
    transitoin all 300ms !important
  .is-active
    opacity .5

html.lenis
  height auto

.lenis.lenis-smooth
  scroll-behavior auto

.lenis.lenis-smooth [data-lenis-prevent]
  overscroll-behavior contain

.lenis.lenis-stopped
  overflow hidden

.lenis.lenis-scrolling iframe
  pointer-events none
  
.map__hover
  pointer-events: auto
  fill white

.map__h__num
  display inline-flex
  overflow hidden 
.map__num
  display inline-flex
  width .625em 
  height 1.2em

.map__location
  @media screen and (max-width: 991px)
    left auto
    top auto !important
    .map__location__info
      transform translateY(0) !important
.location__slider .is-active .location__item__cont
  background var(--base-color-brand--blue)
  color white
  // opacity .1
.splide__track--nav .is-active
  border-color transparent !important
@media screen and (max-width: 991px)
  .map__state, .map__state__fill
    transition: all 300ms

  .map__state-w.is--active
    .map__state
      fill var(--base-color-brand--blue) !important
    .map__state__fill
      fill white !important
      
// .navbar.is--sticky
//   position fixed
//   top 0
//   left 0
//   right 0
//   z-index 500 !important
//   background: var(--base-color-brand--dark-blue)
//   translate 0 -100% !important
.navbar-sticky
    .navbar
      background: var(--base-color-brand--dark-blue)
      .menu-icon>*
        background: white
    // .w-dropdown-toggle, .w-nav-link, .w-inline-block
    @media(min-width 991px)
      .navbar__dd, .navbar__link, .navbar__search-ico
        &:hover
          color var(--base-color-brand--blue)
        color white
        
.map__line
  path
    stroke #b9e0ff 